.main-menu-button {
    -fx-pref-width: 230px;
    -fx-pref-height: 30px;
    -fx-text-fill: black;
    -fx-background-radius: 40px;
    -fx-background-color: #82BAEC;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
}

.main-button {
    -fx-pref-width: 230px;
    -fx-pref-height: 30px;
    -fx-text-fill: black;
    -fx-background-radius: 40px;
    -fx-background-color: #cfe2f3;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
}

.nav-menu-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-radius: 40px;
    -fx-text-fill: black;
    -fx-background-color: #82BAEC;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
}

.nav-buttons {
    -fx-pref-width: 190px;
    -fx-pref-height: 40px;
    -fx-background-radius: 40px;
    -fx-text-fill: black;
    -fx-background-color: #82BAEC;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-alignment: CENTER_LEFT
}

.nav-text {
    -fx-pref-width: 300px;
    -fx-pref-height: 60px;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
    -fx-background-color: #82BAEC;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-alignment: CENTER_LEFT
}

.back-buttons {
    -fx-pref-width: 62px;
    -fx-pref-height: 40px;
    -fx-background-radius: 40px;
    -fx-text-fill: black;
    -fx-background-color: #82BAEC;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-alignment: CENTER_LEFT
}

.floor-boxes{
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-background-color: #CFE2F3;
    -fx-border-color: white;
    -fx-border-width: 2px;
}