.main-menu-button {
-fx-pref-width: 300px;
-fx-pref-height: 40px;
-fx-text-fill: white;
-fx-background-color: #3A5369;
}

.nav-menu-button {
    -fx-pref-width: 50px;
    -fx-background-radius: 50px;
    -fx-text-fill: black;
    -fx-background-color: #CFE2F3;
}